# Ignore everything by default
*

# Track these
!.gitignore

# Track mods
!mods/
!mods/**

# Track core texture packs
!resourcepacks/Andrew's Textures*
!resourcepacks/Old Copper Stuffs*

# Track core shaderpacks
!shaderpacks/Complementary*ColorwheelPatched
!shaderpacks/Complementary*ColorwheelPatched.zip

# Xaero settings
!config/xaerominimap_entities.json
